* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 160px 0;
}

form {
  width: 640px;
  height: auto;
  margin-top: 40px;
}

label {
  font-size: 18px;
  font-weight: 700;
  color: #1F2937;
}

input {
  width: 100%;
  height: 56px;
  background-color: #F3F4F6;
  border: 1px none transparent;
  border-radius: 12px;
  padding: 16px 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #9CA3AF;
  position: relative;
}

input:focus {
  border: 1px none #3692FF;
  color: #1F2937;
}

.visible-btn {
  position: absolute;
  margin-left: 592px;
  transform: translateY(-65px);
}

button {
  width: 100%;
  height: 56px;
  border-color: transparent;
  border-radius: 40px;
  padding: 16px 24px;
  background-color: #9CA3AF;
  font-size: 20px;
  font-weight: 600;
  color: #F3F4F6;
}

button:hover {
  background-color: #3692FF;
  cursor: pointer;
}

#socialLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px;
  background-color: #E6F2FF;
  font-size: 16px;
  font-weight: 500;
  color: #1F2937;
  margin: 24px 0;
}

#socialLogin div {
  display: flex;
  gap: 16px;
}

#socialLogin img {
  width: 42px;
  height: 42px;
}

#signupLink {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #1F2937;
}

#signupLink a {
  color: #3692FF;
}