:root {
    --panda-light-gray: #F3F4F6;
    --panda-blue: #3692FF;
    --panda-dark-gray: #9CA3AF;
    --panda-light-blue: #E6F2FF;
    --panda-white: #FFFFFF;
    --panda-border-gray: #ccc;
}

main.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section.loginBox,
section.signupBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header.logo img {
    width: 396px;
    height: 132px;
}

article.login, article.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
    height: 446px;
}

article.login h1, article.signup h1 {
    margin-bottom: 16px;
}

article.login input[type="text"],
article.login input[type="password"],
article.signup input[type="text"],
article.signup input[type="password"] {
    width: 640px;
    height: 56px;
    border-radius: 12px;
    border: 0px solid var(--panda-border-gray);
    padding: 16px 20px;
    box-sizing: border-box;
    background-color: var(--panda-light-gray);
    font-family: inherit;
    font-size: 18px;
    margin-top: 16px;
}

article.login input[type="text"]:focus,
article.login input[type="password"]:focus,
article.signup input[type="text"]:focus,
article.signup input[type="password"]:focus {
    border: 1px solid var(--panda-blue);
    outline: none;
}

article.login button[type="submit"],
article.signup button[type="submit"] {
    width: 640px;
    height: 56px;
    border-radius: 40px;
    border: 1px solid var(--panda-border-gray);
    padding: 16px 124px;
    margin-top: 24px;
    box-sizing: border-box;
    background-color: var(--panda-dark-gray);
    font-family: inherit;
    font-size: 20px;
    color: var(--panda-light-gray);
}

.email,
.password,
.nickname,
article.login button[type="submit"],
.simpleLogin,
article.signup button[type="submit"] {
    margin-top: 24px;
}

.simpleLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--panda-light-blue);
    width: 640px;
    height: 74px;
    border-radius: 8px;
}

simpleLogin p {
    margin: 24px 0 24px 23px;
}

.simpleLogin_img {
    display: flex;
    margin-left: auto;
    margin-right: 23px;
}

.simpleLogin_img a {
    margin-left: 16px;
}

p.signupPage, p.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}