@import "./reset.css";
@font-face {
  font-family: "ROKAFSans";
  src: url("font/ROKAF\ Sans\ Bold.ttf") format("Woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --hreftxt-focusinput-color: #3692FF;
  --basictxt-color: #1F2937;
  --logintxt-inputbox-bg-color: #F3F4F6;
  --placeholder-btn-bg-color: #9CA3AF;
  --bottombox-bg-color: #E6F2FF;
}

* {
  box-sizing: border-box;
}

.index {
  color: var(--basictxt-color);
  font-family: Pretendard;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3425rem;
}

form div {
  position: relative;
}

.eye-icon {
  position: absolute;
  width: 1.2794rem;
  height: 1.1294rem;
  top: 2.2181rem;
  bottom: 2.6525rem;
  right: 1.6087rem;
}

.eye-icon.off {
  visibility: hidden;
}

.inputbox:focus {
  outline-color: var(--hreftxt-focusinput-color);
}

.inputbox {
  background-color: var(--logintxt-inputbox-bg-color);
  width: 40rem;
  height: 3.5rem;
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  margin: 1rem auto 1.5rem;
}

::placeholder {
  color: var(--placeholder-btn-bg-color);
}

.btn {
  background-color: var(--placeholder-btn-bg-color);
  color: var(--logintxt-inputbox-bg-color);
  width: 40rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  border: none;
  padding: 1rem 7.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin: auto;
}

.btnAble {
  background-color: var(--hreftxt-focusinput-color);
  cursor: pointer;
}

.bottombox {
  background-color: var(--bottombox-bg-color);
  width: 40rem;
  height: 4.625rem;
  border-radius: 0.5rem;
  padding: 1rem 1.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  margin: 1.5rem auto;
}

.logo {
  display: flex;
  gap: 1rem;
}

.googlebtn {
  background-color: white;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 100%;
  padding: 0.625rem;
}

.kakaobtn {
  background-color: #F5E14B;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 100%;
  padding: 0.625rem 0.5rem 0.5rem 0.5rem;
}

.text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 12.3125rem;
  height: 1.5rem;
  margin: auto auto 14.625rem;
}