# ------------------------
# ✅ 공통
# ------------------------
.DS_Store
*.pem

# 환경 변수
.env*
*.env

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 커버리지
/coverage

# 빌드
/build
/dist

# ------------------------
# ✅ Node.js dependencies
# ------------------------
/node_modules

# ------------------------
# ✅ yarn / pnpm / berry
# ------------------------
.pnp.*
/.pnp
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ------------------------
# ✅ Next.js (FE)
/FE/.next/
/FE/out/
/FE/.vercel
/FE/.turbo
/FE/next-env.d.ts

# ------------------------
# ✅ BE 관련
/BE/prisma/dev.db
/BE/prisma/dev.db-journal
/BE/.env
/BE/node_modules
/BE/dist/