@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "./reset.css";

body {
  display: flex;
  flex-flow: column wrap;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 10px 200px;
  z-index: 1;
}

.homeButton {
  display: flex;
  align-items: center;
  width: 15rem;
  height: 5rem;
  color: rgba(54, 146, 255, 1);
  font-size: 30px;
  font-weight: bold;
  gap: 10px;
  cursor: pointer;

  img {
    width: 4rem;
    height: 4rem;
  }
}

.loginButton {
  width: 10rem;
  height: 4rem;
  background-color: rgba(54, 146, 255, 1);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.top_logo,
.bottom_logo {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: rgba(207, 229, 255, 1);
  padding-top: 200px;
  align-items: center;
  justify-content: center;

  img {
    width: 700px;
    height: 300px;
  }
}

.top_logo_items,
.bottom_logo_items {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;

  button {
    position: relative;
    top: 50px;
    width: 300px;
    height: 60px;
    background-color: rgba(54, 146, 255, 1);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
}

.top_logo_text,
.bottom_logo_text {
  position: relative;
  top: 50px;
  width: 300px;
  height: 100px;
  font-size: 28px;
  font-weight: bold;
  color: rgba(55, 65, 81, 1);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;

  img {
    width: 60%;
    padding: 40px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(17, 24, 39, 1);
  color: rgba(156, 163, 175, 1);
  padding: 20px 200px;

  .item {
    margin-bottom: 100px;
  }

  .center {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    color: rgba(229, 231, 235, 1);

    div {
      cursor: pointer;
    }
  }

  .sns {
    display: flex;
    gap: 10px;
    img {
      cursor: pointer;
    }
  }
}
