@import "tailwindcss";

/* 다크 모드 사용 설정: 스타일 적용 시 className="bg-white dark:bg-black" */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); /* className="font-mono" 로 폰트 적용 */
}

/* ===== 테마 정의 ===== */
@theme {
  /* 브레이크포인트 정의: 기본 반응형 브레이크 포인트를 디자인 요구사항에 따라 변경가능. */
  /* className="text-sm md:text-2xl" 면 화면너비 기본 text-sm, 768px부터 text-2xl 의미 */
  --breakpoint-sm: 1px;
  --breakpoint-md: 376px;
  --breakpoint-lg: 745px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1920px;
  
  /* 색상 정의: 디자인 내용에 따라 정의. 실사용 시 className="text-primary-50" */
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
}

/* ===== 유틸리티 클래스 확장 ===== *

/* 커스텀 유틸리티 클래스 정의. 실사용 시 className="tab-4" */

/* ===== 컴포넌트 클래스 ===== */
/* 버튼 컴포넌트 */
.btn-base {
  @apply  bg-sky-500  hover:bg-sky-700 px-4  py-2 rounded-[4px] text-white font-[600]
}

/* 일반 HTML 태그에 대한 기본 스타일 */
body {
  font-family: var(--font-sans);
  color: var(--color-gray-800);
  background-color: white;
}
