.item {
	width: 100%; /* 박스의 배경색이 브라우저 너비를 100% 채움 */
	display: flex; /* 내부 콘텐츠를 중앙 정렬 */
	justify-content: center; /* 콘텐츠를 가로 중앙 정렬 */
	align-items: center; /* 콘텐츠를 세로 중앙 정렬 */
}

.box01 {
	background-color: #ffffff;
	position: fixed; /* 화면 상단에 고정 */
	top: 0; /* 상단에서 0px 위치 */
	left: 0; /* 왼쪽에서 0px 위치 */
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid #dfdfdf;
}

.header_style {
	width: 1600px;
	height: 70px;
	display: flex;
	justify-content: space-between; /* 좌우로 요소를 배치 */
	align-items: center; /* 세로 가운데 정렬 */
}

.header_style .left {
	height: 40px;
	display: flex;
	align-items: center;

	img {
		vertical-align: middle;
	}

	h1 {
		display: inline;
		color: #3692ff;
		font-family: ROKAF Sans;
		font-size: 26px;
		margin-left: 2px;
		font-weight: 700;
		vertical-align: middle;
	}

	ul {
		display: inline-flex;
		padding-left: 24px;
	}

	ul li {
		font-size: 18px;
		line-height: 26px;
		font-weight: 700;
		list-style: none;
		padding: 0 15px;
	}
}

.header_style a:link {
	text-decoration: none;
}

.header_style .right {
	padding: 12px 24px;
	border-radius: 8px;
	background-color: #3692ff;
	color: #f3f4f6;
	font-weight: 600, normal;
	display: inline-block;
	max-width: 128px;
}

@media (max-width: 744px) {
	.header_style .left {
		margin-left: 12px;
	}
	.right {
		margin-right: 12px;
	}
}
@media (max-width: 376px) {
}
