.product-list {
	width: 1200px;
}

.product-list ul {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: flex-start;
	padding: 0;
	margin: 0;

	li {
		text-align: left;
		list-style: none;

		.product-name {
			font-size: 14px;
			line-height: 24px;
			font-weight: 500;
		}
		.product-price {
			font-size: 16px;
			line-height: 26px;
			font-weight: 700;
			color: black;
		}
		.product-favorite-count {
			font-size: 12px;
			line-height: 18px;
			font-weight: 500;
		}
	}
}

/* favorite-style 베스트 상품 */
.favorite-style {
	h3 {
		font-size: 24px;
	}
	li {
		width: 282px;
		height: 378px;

		.product-img {
			width: 282px;
			height: 282px;
			border-radius: 16px;
		}
	}
}
/* recent-style 판매 중인 상품*/

.recent-style {
	li {
		width: 220px;
		height: 316px;
		text-align: left;
		list-style: none;

		.product-img {
			width: 220px;
			height: 220px;
			border-radius: 12px;
		}
	}
}

/* 태블릿 */
@media (max-width: 744px) {
	.product-list {
		width: 744px;
		display: flex;
		justify-content: center;
	}

	.favorite-style ul {
		width: 696px;
		gap: 10px;
		padding: 0;
		margin: 0;
	}

	.favorite-style ul li {
		width: 343px;
		height: 434px;

		.product-img {
			width: 343px;
			height: 343px;
			border-radius: 20px;
		}
	}

	.recent-style ul {
		width: 696px;
		gap: 16px;
	}

	.recent-style li {
		width: 220px;
	}
}

/* 모바일 */
/* ✅ 모바일 (375px) */
@media (max-width: 376px) {
	.product-list {
		width: 376px;
		display: flex;
		justify-content: center;
	}
	.product-list ul {
		width: 344px;
		gap: 8px;
	}
	.favorite-style li {
		.product-img {
			width: 344px;
			height: 344px;
		}
	}
	.recent-style li {
		width: 168px;
		height: 264px;

		.product-img {
			width: 168px;
			height: 168px;
			border-radius: 10px;
		}
	}
}
